<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/education.css">
    <title>Victoria's Personal Website - Education</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="/static/logo.png">
        <div class="links">
            <a href="/./index.html">HOME</a>
            <a href="portfolio.html">PORTFOLIO</a>
            <a href="education.html">EDUCATION</a>
            <a href="work.html">WORK EXPERIENCE</a>
        </div>
    </header>
    <main>
        <section class="first">
            <div class="principal">
                <div class="container">
                    <div class="title">Education</div>
                    <div class="divider"><hr></div>
                    <div class="subtext">These are the courses I have done!
                    </div>
                </div>
            </div>
        </section>
        
        <section class="second">
            <div class="section-title">
                <h2>Degrees and certificates</h2>
                <hr>
            </div>
            <div class="education">
                <div class="certificate">
                    <img src="/static/datascience-icon.jpg" alt="Data Science">
                    <div class="text">
                        <div class="title">Certification: Data Science</div>
                        <div class="description">Completed: September, 2022</div>
                    </div>
                </div>
                <div class="certificate">
                    <img src="/static/dataanalytics-icon.png" alt="Data Analytics">
                    <div class="text">
                        <div class="title">Certification: Data Analytics</div>
                        <div class="description">Complete: May, 2021</div>
                    </div>
                </div>
                <div class="certificate">
                    <img src="/static/geneng-icon.png" alt="PhD: Genetic Engineering">
                    <div class="text">
                        <div class="title">PhD: Biotechnology and Molecular Biology (Genetic Engineering)</div>
                        <div class="description">Incomplete: 2019-2022</div>
                    </div>
                </div>
                <div class="certificate">
                    <img src="/static/biotech-icon.png" alt="Bachelors Degree: Biotechnology">
                    <div class="text">
                        <div class="title">Bachelor's Degree: Biotechnology and Molecular Biology</div>
                        <div class="description">Complete: 2013-2018</div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="third">
            <div class="section-title">
                <h2>Courses</h2>
                <hr>
            </div>
            <table class="courses">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Entity</th>
                        <th>Topics</th>
                        <th>Status</th>
                        <th>Certificate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title">Introduction to Containers w/ Docker, Kubernetes & OpenShift</td>
                        <td class="date">July, 2023</td>
                        <td class="entity">IBM</td>
                        <td class="topics">Containers, Docker, Kubernetes, OpenShift</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Introduction to NoSQL Databases</td>
                        <td class="date">July, 2023</td>
                        <td class="entity">IBM</td>
                        <td class="topics">NoSQL Databases, Cassandra, Cloudant, MongoDB</td>
                        <td class="status">Complete (without certification)</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Introduction to Agile Development and Scrum</td>
                        <td class="date">April, 2023</td>
                        <td class="entity">IBM</td>
                        <td class="topics">Agile Metodologies, Scrum</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Python from Zero to Master with Python 3</td>
                        <td class="date">January, 2023</td>
                        <td class="entity">Udemy</td>
                        <td class="topics">Python, HTML, CSS, Flask, Django</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</td>
                        <td class="date">July, 2022</td>
                        <td class="entity">Deeplearning.ai</td>
                        <td class="topics">Machine Learning, Python</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Introduction to Git and GitHub</td>
                        <td class="date">July, 2022</td>
                        <td class="entity">Google</td>
                        <td class="topics">Git, GuitHub</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">ETL and Data Pipelines with Shell, Airflow and Kafka</td>
                        <td class="date">July, 2022</td>
                        <td class="entity">IBM</td>
                        <td class="topics">ETL construction, Bash, Apache Airflow, Apache Kafka</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Neural Networks and Deep Learning</td>
                        <td class="date">June, 2022</td>
                        <td class="entity">Deeplearning.ai</td>
                        <td class="topics">Machine Learning, Python</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Excel Basics for Data Analysis</td>
                        <td class="date">June, 2022</td>
                        <td class="entity">IBM</td>
                        <td class="topics">Basic tasks (navigation, data entry, formulas), data manipulation (sorting, filtering), pivot tables</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td class="title">Probability and Statistics for Experimental Physics</td>
                        <td class="date">Second semester, 2020</td>
                        <td class="entity">UNLP (National University of La Plata)</td>
                        <td class="topics">Probability, statistics, complex calculation with Python</td>
                        <td class="status">Complete</td>
                        <td class="img"><a href="">Link</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="created-by">&#169; Created by V. Gardella</div>
            <div class="contact">
                <div class="phone"><b>Call:</b> <br> +11 111 1111</div>
                <div class="mail"><b>E-mail:</b> <br> v.gardella.ruiz@gmail.com</div>
            </div>
        </div>
    </footer>
</body>
</html>