body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

.header{
    background-color: #fbe9e9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo{
    margin-right: auto;
    width: 150px;
    height: 50px;
    margin-left: 30px;
}

.header .links{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    color: #f88d8d;
}

/*FOOTER*/

footer .container{
    background-color: #fbe9e9;
    color: #d84f4f;
    height: 75px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 5px 30px;
}

footer .container .created-by{
    width: 200px;
    text-align: center;
}

footer .container .contact{
    display: flex;
    text-align: center;
    margin-left: auto;
    gap: 30px;
}