/*PRINCIPAL*/

.principal{
    background-image: url(/static/portfolio-background.png);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal .container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.principal .container .title{
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    font-weight: 600;
    color: #d84f4f;
    text-align: center;
}

.principal .container .subtext{
    font-size: 30px;
    font-weight: 300;
    color: #525252;
}

/*PORTFOLIO*/

.portfolio{
    padding: 100px 80px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post{
    padding: 30px;
    margin: 20px;
    max-width: 25%;
    height: 400px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    border: 2px solid #aaaaaa;
    color: #525252;
}

.post img{
    max-width: 100%;
}

.post h3{
    font-weight: 500;
    color: #000000;
}

.post-btn{
    display: flex;
    background-color: #d84f4f;
    color: #fbe9e9;
    font-size: 15px;
    padding: 15px 15px;
    width: 150px;
    margin-top: auto;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}